@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(0.96 0 0);
  --foreground: oklch(0.32 0 0);
  --card: oklch(0.97 0 0);
  --card-foreground: oklch(0.32 0 0);
  --popover: oklch(0.97 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.49 0 0);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.91 0 0);
  --secondary-foreground: oklch(0.32 0 0);
  --muted: oklch(0.89 0 0);
  --muted-foreground: oklch(0.51 0 0);
  --accent: oklch(0.81 0 0);
  --accent-foreground: oklch(0.32 0 0);
  --destructive: oklch(0.56 0.19 25.86);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.86 0 0);
  --input: oklch(0.91 0 0);
  --ring: oklch(0.49 0 0);
  --chart-1: oklch(0.49 0 0);
  --chart-2: oklch(0.49 0.04 196.03);
  --chart-3: oklch(0.65 0 0);
  --chart-4: oklch(0.73 0 0);
  --chart-5: oklch(0.81 0 0);
  --sidebar: oklch(0.94 0 0);
  --sidebar-foreground: oklch(0.32 0 0);
  --sidebar-primary: oklch(0.49 0 0);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.81 0 0);
  --sidebar-accent-foreground: oklch(0.32 0 0);
  --sidebar-border: oklch(0.86 0 0);
  --sidebar-ring: oklch(0.49 0 0);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.35rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
}

.dark {
  --background: oklch(0.22 0 0);
  --foreground: oklch(0.89 0 0);
  --card: oklch(0.24 0 0);
  --card-foreground: oklch(0.89 0 0);
  --popover: oklch(0.24 0 0);
  --popover-foreground: oklch(0.89 0 0);
  --primary: oklch(0.71 0 0);
  --primary-foreground: oklch(0.22 0 0);
  --secondary: oklch(0.31 0 0);
  --secondary-foreground: oklch(0.89 0 0);
  --muted: oklch(0.29 0 0);
  --muted-foreground: oklch(0.60 0 0);
  --accent: oklch(0.37 0 0);
  --accent-foreground: oklch(0.89 0 0);
  --destructive: oklch(0.66 0.15 22.17);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.33 0 0);
  --input: oklch(0.31 0 0);
  --ring: oklch(0.71 0 0);
  --chart-1: oklch(0.71 0 0);
  --chart-2: oklch(0.67 0.03 206.35);
  --chart-3: oklch(0.55 0 0);
  --chart-4: oklch(0.46 0 0);
  --chart-5: oklch(0.37 0 0);
  --sidebar: oklch(0.24 0 0);
  --sidebar-foreground: oklch(0.89 0 0);
  --sidebar-primary: oklch(0.71 0 0);
  --sidebar-primary-foreground: oklch(0.22 0 0);
  --sidebar-accent: oklch(0.37 0 0);
  --sidebar-accent-foreground: oklch(0.89 0 0);
  --sidebar-border: oklch(0.33 0 0);
  --sidebar-ring: oklch(0.71 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.35rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-NHassDisplay: var(--font-NHDP);
  --font-SpaceGrotesk: var(--font-space-grotesk);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}



.moon {
  position: relative;
  background: var(--foreground);
  border-radius: 50%;
  animation: var(--background) 5s 0.1s linear infinite alternate;
}

.moon::after {
  content: "";
  position: absolute;
  background: var(--background);
  height: 101%;
  width: 101%;
  display: block;
  border-radius: 50%;
  /* z-index: -1; */
  z-index: 1;
  animation: moon-light 5s 0.1s linear infinite alternate;
}

@keyframes moon-light {
  0% {
    transform: translateX(-1px);
    box-shadow: none;
  }

  50% {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 40px var(--foreground), 0px 0px 80px 2px var(--foreground);

  }

  100% {
    transform: translateX(1px) ;
    box-shadow: none;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}



.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: gainsboro;
}

/* Music note floating animations for SongCard */
@keyframes float1 {
  0% { 
    transform: translate(-50%, -50%); 
    opacity: 0; 
  }
  30% { 
    opacity: 0.8; 
  }
  80% { 
    opacity: 0.2; 
  }
  100% { 
    transform: translate(-50%, calc(-50% - 0.45rem)); 
    opacity: 0; 
  }
}

@keyframes float2 {
  0% { 
    transform: translate(50%, -50%); 
    opacity: 0; 
  }
  30% { 
    opacity: 0.8; 
  }
  80% { 
    opacity: 0.2; 
  }
  100% { 
    transform: translate(calc(50% + 0.35rem), -50%); 
    opacity: 0; 
  }
}

@keyframes float3 {
  0% { 
    transform: translate(-50%, 50%); 
    opacity: 0; 
  }
  30% { 
    opacity: 0.8; 
  }
  80% { 
    opacity: 0.2; 
  }
  100% { 
    transform: translate(-50%, calc(50% + 0.65rem)); 
    opacity: 0; 
  }
}

@keyframes float4 {
  0% { 
    transform: translate(-50%, -50%); 
    opacity: 0; 
  }
  30% { 
    opacity: 0.8; 
  }
  80% { 
    opacity: 0.2; 
  }
  100% { 
    transform: translate(calc(-50% - 0.75rem), -50%); 
    opacity: 0; 
  }
}

/* Ripple animations for SongCard */
@keyframes ripple1 {
  0% { 
    transform: scale(1); 
    opacity: 0.5; 
  }
  50% { 
    opacity: 0.2; 
  }
  100% { 
    transform: scale(2); 
    opacity: 0; 
  }
}